<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.machugit.mappers.DanmuInfoMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.machugit.entity.po.DanmuInfo">
		<!--弹幕id-->
		<result column="danmu_id" property="danmuId"  />
		<!--视频id-->
		<result column="video_id" property="videoId"  />
		<!--文件id-->
		<result column="file_id" property="fileId"  />
		<!--用户id-->
		<result column="user_id" property="userId"  />
		<!--弹幕文本-->
		<result column="text" property="text"  />
		<!--弹幕模式-->
		<result column="mode" property="mode"  />
		<!--弹幕颜色-->
		<result column="color" property="color"  />
		<result column="font_size" property="fontSize"  />
		<result column="is_prior" property="isPrior"  />
		<result column="danmu_type" property="danmuType"  />
		<result column="report_count" property="reportCount"  />
		<!--弹幕时间-->
		<result column="time" property="time"  />
		<result column="jump_time" property="jumpTime"  />
		<!--发布时间-->
		<result column="post_time" property="postTime"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 d.danmu_id,d.video_id,d.file_id,d.user_id,d.text,
		 d.mode,d.color,d.font_size,d.is_prior,d.danmu_type,d.report_count,d.time,d.jump_time,d.post_time
	</sql>

	<sql id="base_condition_filed">
			<if test="query.danmuId != null">
				 and  d.danmu_id = #{query.danmuId}
			</if>
			<if test="query.videoId != null and query.videoId!=''">
				 and  d.video_id = #{query.videoId}
			</if>
			<if test="query.fileId != null and query.fileId!=''">
				 and  d.file_id = #{query.fileId}
			</if>
			<if test="query.userId != null and query.userId!=''">
				 and  d.user_id = #{query.userId}
			</if>
			<if test="query.text != null and query.text!=''">
				 and  d.text = #{query.text}
			</if>
			<if test="query.mode != null">
				 and  d.mode = #{query.mode}
			</if>
			<if test="query.color != null and query.color!=''">
				 and  d.color = #{query.color}
			</if>
			<if test="query.time != null">
				 and  d.time = #{query.time}
			</if>
			<if test="query.postTime != null and query.postTime!=''">
				 <![CDATA[ and  d.post_time=str_to_date(#{query.postTime}, '%Y-%m-%d') ]]>
			</if>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
	 <where>
			<include refid="base_condition_filed" />
			<if test="query.textFuzzy!= null  and query.textFuzzy!=''">
				 and  d.text like concat('%', #{query.textFuzzy}, '%')
			</if>
			<if test="query.postTimeStart!= null and query.postTimeStart!=''">
				 <![CDATA[ and  d.post_time>=str_to_date(#{query.postTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.postTimeEnd!= null and query.postTimeEnd!=''">
				 <![CDATA[ and  d.post_time< date_sub(str_to_date(#{query.postTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
	 </where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM danmu_info d <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM danmu_info d <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.machugit.entity.po.DanmuInfo">
		 INSERT INTO danmu_info
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.danmuId != null">
				 danmu_id,
			</if>
			<if test="bean.videoId != null">
				 video_id,
			</if>
			<if test="bean.fileId != null">
				 file_id,
			</if>
			<if test="bean.userId != null">
				 user_id,
			</if>
			<if test="bean.text != null">
				 text,
			</if>
			<if test="bean.mode != null">
				 mode,
			</if>
			<if test="bean.color != null">
				 color,
			</if>
			<if test="bean.fontSize != null">
				 font_size,
			</if>
			<if test="bean.isPrior != null">
				 is_prior,
			</if>
			<if test="bean.danmuType != null">
				 danmu_type,
			</if>
			<if test="bean.reportCount != null">
				 report_count,
			</if>
			<if test="bean.time != null">
				 time,
			</if>
			<if test="bean.jumpTime != null">
				 jump_time,
			</if>
			<if test="bean.postTime != null">
				 post_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.danmuId!=null">
				 #{bean.danmuId},
			</if>
			<if test="bean.videoId!=null">
				 #{bean.videoId},
			</if>
			<if test="bean.fileId!=null">
				 #{bean.fileId},
			</if>
			<if test="bean.userId!=null">
				 #{bean.userId},
			</if>
			<if test="bean.text!=null">
				 #{bean.text},
			</if>
			<if test="bean.mode!=null">
				 #{bean.mode},
			</if>
			<if test="bean.color!=null">
				 #{bean.color},
			</if>
			<if test="bean.fontSize!=null">
				 #{bean.fontSize},
			</if>
			<if test="bean.isPrior!=null">
				 #{bean.isPrior},
			</if>
			<if test="bean.danmuType!=null">
				 #{bean.danmuType},
			</if>
			<if test="bean.reportCount!=null">
				 #{bean.reportCount},
			</if>
			<if test="bean.time!=null">
				 #{bean.time},
			</if>
			<if test="bean.jumpTime!=null">
				 #{bean.jumpTime},
			</if>
			<if test="bean.postTime!=null">
				 #{bean.postTime},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.machugit.entity.po.DanmuInfo">
		 INSERT INTO danmu_info
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.danmuId != null">
				 danmu_id,
			</if>
			<if test="bean.videoId != null">
				 video_id,
			</if>
			<if test="bean.fileId != null">
				 file_id,
			</if>
			<if test="bean.userId != null">
				 user_id,
			</if>
			<if test="bean.text != null">
				 text,
			</if>
			<if test="bean.mode != null">
				 mode,
			</if>
			<if test="bean.color != null">
				 color,
			</if>
			<if test="bean.fontSize != null">
				 font_size,
			</if>
			<if test="bean.isPrior != null">
				 is_prior,
			</if>
			<if test="bean.danmuType != null">
				 danmu_type,
			</if>
			<if test="bean.reportCount != null">
				 report_count,
			</if>
			<if test="bean.time != null">
				 time,
			</if>
			<if test="bean.jumpTime != null">
				 jump_time,
			</if>
			<if test="bean.postTime != null">
				 post_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.danmuId!=null">
				 #{bean.danmuId},
			</if>
			<if test="bean.videoId!=null">
				 #{bean.videoId},
			</if>
			<if test="bean.fileId!=null">
				 #{bean.fileId},
			</if>
			<if test="bean.userId!=null">
				 #{bean.userId},
			</if>
			<if test="bean.text!=null">
				 #{bean.text},
			</if>
			<if test="bean.mode!=null">
				 #{bean.mode},
			</if>
			<if test="bean.color!=null">
				 #{bean.color},
			</if>
			<if test="bean.fontSize!=null">
				 #{bean.fontSize},
			</if>
			<if test="bean.isPrior!=null">
				 #{bean.isPrior},
			</if>
			<if test="bean.danmuType!=null">
				 #{bean.danmuType},
			</if>
			<if test="bean.reportCount!=null">
				 #{bean.reportCount},
			</if>
			<if test="bean.time!=null">
				 #{bean.time},
			</if>
			<if test="bean.jumpTime!=null">
				 #{bean.jumpTime},
			</if>
			<if test="bean.postTime!=null">
				 #{bean.postTime},
			</if>
		 </trim>
		 on DUPLICATE key update
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.danmuId!=null">
				 danmu_id = VALUES(danmu_id),
			</if>
			<if test="bean.videoId!=null">
				 video_id = VALUES(video_id),
			</if>
			<if test="bean.fileId!=null">
				 file_id = VALUES(file_id),
			</if>
			<if test="bean.userId!=null">
				 user_id = VALUES(user_id),
			</if>
			<if test="bean.text!=null">
				 text = VALUES(text),
			</if>
			<if test="bean.mode!=null">
				 mode = VALUES(mode),
			</if>
			<if test="bean.color!=null">
				 color = VALUES(color),
			</if>
			<if test="bean.fontSize!=null">
				 font_size = VALUES(font_size),
			</if>
			<if test="bean.isPrior!=null">
				 is_prior = VALUES(is_prior),
			</if>
			<if test="bean.danmuType!=null">
				 danmu_type = VALUES(danmu_type),
			</if>
			<if test="bean.reportCount!=null">
				 report_count = VALUES(report_count),
			</if>
			<if test="bean.time!=null">
				 time = VALUES(time),
			</if>
			<if test="bean.jumpTime!=null">
				 jump_time = VALUES(jump_time),
			</if>
			<if test="bean.postTime!=null">
				 post_time = VALUES(post_time),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.machugit.entity.po.DanmuInfo">
		 INSERT INTO danmu_info(
			 danmu_id,
			 video_id,
			 file_id,
			 user_id,
			 text,
			 mode,
			 color,
			 font_size,
			 is_prior,
			 danmu_type,
			 report_count,
			 time,
			 jump_time,
			 post_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.danmuId},
				 #{item.videoId},
				 #{item.fileId},
				 #{item.userId},
				 #{item.text},
				 #{item.mode},
				 #{item.color},
				 #{item.fontSize},
				 #{item.isPrior},
				 #{item.danmuType},
				 #{item.reportCount},
				 #{item.time},
				 #{item.jumpTime},
				 #{item.postTime}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.machugit.entity.po.DanmuInfo">
		 INSERT INTO danmu_info(
			 danmu_id,
			 video_id,
			 file_id,
			 user_id,
			 text,
			 mode,
			 color,
			 font_size,
			 is_prior,
			 danmu_type,
			 report_count,
			 time,
			 jump_time,
			 post_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.danmuId},
				 #{item.videoId},
				 #{item.fileId},
				 #{item.userId},
				 #{item.text},
				 #{item.mode},
				 #{item.color},
				 #{item.fontSize},
				 #{item.isPrior},
				 #{item.danmuType},
				 #{item.reportCount},
				 #{item.time},
				 #{item.jumpTime},
				 #{item.postTime}
			 )
		 </foreach>
			on DUPLICATE key update
			danmu_id = VALUES(danmu_id),
			video_id = VALUES(video_id),
			file_id = VALUES(file_id),
			user_id = VALUES(user_id),
			text = VALUES(text),
			mode = VALUES(mode),
			color = VALUES(color),
			font_size = VALUES(font_size),
			is_prior = VALUES(is_prior),
			danmu_type = VALUES(danmu_type),
			report_count = VALUES(report_count),
			time = VALUES(time),
			jump_time = VALUES(jump_time),
			post_time = VALUES(post_time)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="com.machugit.entity.query.DanmuInfoQuery">
		 UPDATE danmu_info d
 		 <set>
			<if test="bean.danmuId != null">
				 danmu_id = #{bean.danmuId},
			</if>
			<if test="bean.videoId != null">
				 video_id = #{bean.videoId},
			</if>
			<if test="bean.fileId != null">
				 file_id = #{bean.fileId},
			</if>
			<if test="bean.userId != null">
				 user_id = #{bean.userId},
			</if>
			<if test="bean.text != null">
				 text = #{bean.text},
			</if>
			<if test="bean.mode != null">
				 mode = #{bean.mode},
			</if>
			<if test="bean.color != null">
				 color = #{bean.color},
			</if>
			<if test="bean.fontSize != null">
				 font_size = #{bean.fontSize},
			</if>
			<if test="bean.isPrior != null">
				 is_prior = #{bean.isPrior},
			</if>
			<if test="bean.danmuType != null">
				 danmu_type = #{bean.danmuType},
			</if>
			<if test="bean.reportCount != null">
				 report_count = #{bean.reportCount},
			</if>
			<if test="bean.time != null">
				 time = #{bean.time},
			</if>
			<if test="bean.jumpTime != null">
				 jump_time = #{bean.jumpTime},
			</if>
			<if test="bean.postTime != null">
				 post_time = #{bean.postTime},
			</if>
 		 </set>
 		 <include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		 delete d from danmu_info d
 		 <include refid="query_condition" />
	</delete>

	<!-- 根据DanmuId修改-->
	<update id="updateByDanmuId" parameterType="com.machugit.entity.po.DanmuInfo">
		 UPDATE danmu_info
 		 <set>
			<if test="bean.videoId != null">
				 video_id = #{bean.videoId},
			</if>
			<if test="bean.fileId != null">
				 file_id = #{bean.fileId},
			</if>
			<if test="bean.userId != null">
				 user_id = #{bean.userId},
			</if>
			<if test="bean.text != null">
				 text = #{bean.text},
			</if>
			<if test="bean.mode != null">
				 mode = #{bean.mode},
			</if>
			<if test="bean.color != null">
				 color = #{bean.color},
			</if>
			<if test="bean.fontSize != null">
				 font_size = #{bean.fontSize},
			</if>
			<if test="bean.isPrior != null">
				 is_prior = #{bean.isPrior},
			</if>
			<if test="bean.danmuType != null">
				 danmu_type = #{bean.danmuType},
			</if>
			<if test="bean.reportCount != null">
				 report_count = #{bean.reportCount},
			</if>
			<if test="bean.time != null">
				 time = #{bean.time},
			</if>
			<if test="bean.jumpTime != null">
				 jump_time = #{bean.jumpTime},
			</if>
			<if test="bean.postTime != null">
				 post_time = #{bean.postTime},
			</if>
 		 </set>
 		 where danmu_id=#{danmuId}
	</update>

	<!-- 根据DanmuId举报次数加一-->
	<update id="incrementReportCountByDanmuId">
		update danmu_info set report_count = ifnull(report_count, 0) + 1 where danmu_id=#{danmuId}
	</update>

	<!-- 根据DanmuId删除-->
	<delete id="deleteByDanmuId">
		delete from danmu_info where danmu_id=#{danmuId}
	</delete>

	<!-- 根据DanmuId获取对象-->
	<select id="selectByDanmuId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from danmu_info d where danmu_id=#{danmuId}
	</select>

	<!-- 根据VideoId获取对象-->
	<select id="selectByVideoId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from danmu_info d where video_id=#{videoId}
	</select>

	<!-- 根据FileId获取对象-->
	<select id="selectByFileId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from danmu_info d where file_id=#{fileId}
	</select>

</mapper>
