<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.machugit.mappers.DynamicLikeMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.machugit.entity.po.DynamicLike">
		<!--自增id-->
		<result column="id" property="id"  />
		<!--动态id-->
		<result column="dynamic_id" property="dynamicId"  />
		<!--用户id-->
		<result column="user_id" property="userId"  />
		<!--创建时间-->
		<result column="create_time" property="createTime"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 l.id,l.dynamic_id,l.user_id,l.create_time
	</sql>

	<sql id="base_condition_filed">
			<if test="query.id != null">
				 and  l.id = #{query.id}
			</if>
			<if test="query.dynamicId != null">
				 and  l.dynamic_id = #{query.dynamicId}
			</if>
			<if test="query.userId != null and query.userId!=''">
				 and  l.user_id = #{query.userId}
			</if>
			<if test="query.createTime != null and query.createTime!=''">
				 <![CDATA[ and  l.create_time=str_to_date(#{query.createTime}, '%Y-%m-%d') ]]>
			</if>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
	 <where>
			<include refid="base_condition_filed" />
			<if test="query.createTimeStart!= null and query.createTimeStart!=''">
				 <![CDATA[ and  l.create_time>=str_to_date(#{query.createTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.createTimeEnd!= null and query.createTimeEnd!=''">
				 <![CDATA[ and  l.create_time< date_sub(str_to_date(#{query.createTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
	 </where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM dynamic_like l <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM dynamic_like l <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.machugit.entity.po.DynamicLike">
		 INSERT INTO dynamic_like
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.id != null">
				 id,
			</if>
			<if test="bean.dynamicId != null">
				 dynamic_id,
			</if>
			<if test="bean.userId != null">
				 user_id,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.id!=null">
				 #{bean.id},
			</if>
			<if test="bean.dynamicId!=null">
				 #{bean.dynamicId},
			</if>
			<if test="bean.userId!=null">
				 #{bean.userId},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.machugit.entity.po.DynamicLike">
		 INSERT INTO dynamic_like
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				 id,
			</if>
			<if test="bean.dynamicId != null">
				 dynamic_id,
			</if>
			<if test="bean.userId != null">
				 user_id,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.id!=null">
				 #{bean.id},
			</if>
			<if test="bean.dynamicId!=null">
				 #{bean.dynamicId},
			</if>
			<if test="bean.userId!=null">
				 #{bean.userId},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
		 </trim>
		 on DUPLICATE key update
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.id!=null">
				 id = VALUES(id),
			</if>
			<if test="bean.dynamicId!=null">
				 dynamic_id = VALUES(dynamic_id),
			</if>
			<if test="bean.userId!=null">
				 user_id = VALUES(user_id),
			</if>
			<if test="bean.createTime!=null">
				 create_time = VALUES(create_time),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.machugit.entity.po.DynamicLike">
		 INSERT INTO dynamic_like(
			 id,
			 dynamic_id,
			 user_id,
			 create_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.id},
				 #{item.dynamicId},
				 #{item.userId},
				 #{item.createTime}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.machugit.entity.po.DynamicLike">
		 INSERT INTO dynamic_like(
			 id,
			 dynamic_id,
			 user_id,
			 create_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.id},
				 #{item.dynamicId},
				 #{item.userId},
				 #{item.createTime}
			 )
		 </foreach>
			on DUPLICATE key update
			id = VALUES(id),
			dynamic_id = VALUES(dynamic_id),
			user_id = VALUES(user_id),
			create_time = VALUES(create_time)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="com.machugit.entity.query.DynamicLikeQuery">
		 UPDATE dynamic_like l
 		 <set>
			<if test="bean.id != null">
				 id = #{bean.id},
			</if>
			<if test="bean.dynamicId != null">
				 dynamic_id = #{bean.dynamicId},
			</if>
			<if test="bean.userId != null">
				 user_id = #{bean.userId},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
 		 </set>
 		 <include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		 delete l from dynamic_like l
 		 <include refid="query_condition" />
	</delete>

	<!-- 根据Id修改-->
	<update id="updateById" parameterType="com.machugit.entity.po.DynamicLike">
		 UPDATE dynamic_like
 		 <set>
			<if test="bean.dynamicId != null">
				 dynamic_id = #{bean.dynamicId},
			</if>
			<if test="bean.userId != null">
				 user_id = #{bean.userId},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
 		 </set>
 		 where id=#{id}
	</update>

	<!-- 根据Id删除-->
	<delete id="deleteById">
		delete from dynamic_like where id=#{id}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectById" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from dynamic_like l where id=#{id}
	</select>

	<!-- 根据DynamicId获取对象-->
	<select id="selectByDynamicId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from dynamic_like l where dynamic_id=#{dynamicId}
	</select>

	<!-- 根据UserId获取对象-->
	<select id="selectByUserId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from dynamic_like l where user_id=#{userId}
	</select>

</mapper>
