<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.machugit.mappers.FavoriteFolderMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.machugit.entity.po.FavoriteFolder">
		<!--收藏夹id-->
		<result column="folder_id" property="folderId"  />
		<!--用户id-->
		<result column="user_id" property="userId"  />
		<!--收藏夹名称-->
		<result column="folder_name" property="folderName"  />
		<!--收藏夹描述-->
		<result column="description" property="description"  />
		<!--封面图片-->
		<result column="cover_image" property="coverImage"  />
		<!--类型-->
		<result column="type" property="type"  />
		<!--视频数量-->
		<result column="video_count" property="videoCount"  />
		<!--排序-->
		<result column="sort" property="sort"  />
		<!--创建时间-->
		<result column="create_time" property="createTime"  />
		<!--更新时间-->
		<result column="update_time" property="updateTime"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 f.folder_id,f.user_id,f.folder_name,f.description,f.cover_image,f.type,f.video_count,f.sort,f.create_time,f.update_time
	</sql>

	<sql id="base_condition_filed">
			<if test="query.folderId != null">
				 and  f.folder_id = #{query.folderId}
			</if>
			<if test="query.userId != null and query.userId!=''">
				 and  f.user_id = #{query.userId}
			</if>
			<if test="query.folderName != null and query.folderName!=''">
				 and  f.folder_name = #{query.folderName}
			</if>
			<if test="query.description != null and query.description!=''">
				 and  f.description = #{query.description}
			</if>
			<if test="query.coverImage != null and query.coverImage!=''">
				 and  f.cover_image = #{query.coverImage}
			</if>
			<if test="query.type != null">
				 and  f.type = #{query.type}
			</if>
			<if test="query.videoCount != null">
				 and  f.video_count = #{query.videoCount}
			</if>
			<if test="query.sort != null">
				 and  f.sort = #{query.sort}
			</if>
			<if test="query.createTime != null and query.createTime!=''">
				 <![CDATA[ and  f.create_time=str_to_date(#{query.createTime}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.updateTime != null and query.updateTime!=''">
				 <![CDATA[ and  f.update_time=str_to_date(#{query.updateTime}, '%Y-%m-%d') ]]>
			</if>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
	 <where>
			<include refid="base_condition_filed" />
			<if test="query.folderNameFuzzy!= null  and query.folderNameFuzzy!=''">
				 and  f.folder_name like concat('%', #{query.folderNameFuzzy}, '%')
			</if>
			<if test="query.descriptionFuzzy!= null  and query.descriptionFuzzy!=''">
				 and  f.description like concat('%', #{query.descriptionFuzzy}, '%')
			</if>
			<if test="query.createTimeStart!= null and query.createTimeStart!=''">
				 <![CDATA[ and  f.create_time>=str_to_date(#{query.createTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.createTimeEnd!= null and query.createTimeEnd!=''">
				 <![CDATA[ and  f.create_time< date_sub(str_to_date(#{query.createTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
			<if test="query.updateTimeStart!= null and query.updateTimeStart!=''">
				 <![CDATA[ and  f.update_time>=str_to_date(#{query.updateTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.updateTimeEnd!= null and query.updateTimeEnd!=''">
				 <![CDATA[ and  f.update_time< date_sub(str_to_date(#{query.updateTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
	 </where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM favorite_folder f <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM favorite_folder f <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.machugit.entity.po.FavoriteFolder">
		 INSERT INTO favorite_folder
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.folderId != null">
				 folder_id,
			</if>
			<if test="bean.userId != null">
				 user_id,
			</if>
			<if test="bean.folderName != null">
				 folder_name,
			</if>
			<if test="bean.description != null">
				 description,
			</if>
			<if test="bean.coverImage != null">
				 cover_image,
			</if>
			<if test="bean.type != null">
				 type,
			</if>
			<if test="bean.videoCount != null">
				 video_count,
			</if>
			<if test="bean.sort != null">
				 sort,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
			<if test="bean.updateTime != null">
				 update_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.folderId!=null">
				 #{bean.folderId},
			</if>
			<if test="bean.userId!=null">
				 #{bean.userId},
			</if>
			<if test="bean.folderName!=null">
				 #{bean.folderName},
			</if>
			<if test="bean.description!=null">
				 #{bean.description},
			</if>
			<if test="bean.coverImage!=null">
				 #{bean.coverImage},
			</if>
			<if test="bean.type!=null">
				 #{bean.type},
			</if>
			<if test="bean.videoCount!=null">
				 #{bean.videoCount},
			</if>
			<if test="bean.sort!=null">
				 #{bean.sort},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
			<if test="bean.updateTime!=null">
				 #{bean.updateTime},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.machugit.entity.po.FavoriteFolder">
		 INSERT INTO favorite_folder
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.folderId != null">
				 folder_id,
			</if>
			<if test="bean.userId != null">
				 user_id,
			</if>
			<if test="bean.folderName != null">
				 folder_name,
			</if>
			<if test="bean.description != null">
				 description,
			</if>
			<if test="bean.coverImage != null">
				 cover_image,
			</if>
			<if test="bean.type != null">
				 type,
			</if>
			<if test="bean.videoCount != null">
				 video_count,
			</if>
			<if test="bean.sort != null">
				 sort,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
			<if test="bean.updateTime != null">
				 update_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.folderId!=null">
				 #{bean.folderId},
			</if>
			<if test="bean.userId!=null">
				 #{bean.userId},
			</if>
			<if test="bean.folderName!=null">
				 #{bean.folderName},
			</if>
			<if test="bean.description!=null">
				 #{bean.description},
			</if>
			<if test="bean.coverImage!=null">
				 #{bean.coverImage},
			</if>
			<if test="bean.type!=null">
				 #{bean.type},
			</if>
			<if test="bean.videoCount!=null">
				 #{bean.videoCount},
			</if>
			<if test="bean.sort!=null">
				 #{bean.sort},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
			<if test="bean.updateTime!=null">
				 #{bean.updateTime},
			</if>
		 </trim>
		 on DUPLICATE key update
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.folderId!=null">
				 folder_id = VALUES(folder_id),
			</if>
			<if test="bean.userId!=null">
				 user_id = VALUES(user_id),
			</if>
			<if test="bean.folderName!=null">
				 folder_name = VALUES(folder_name),
			</if>
			<if test="bean.description!=null">
				 description = VALUES(description),
			</if>
			<if test="bean.coverImage!=null">
				 cover_image = VALUES(cover_image),
			</if>
			<if test="bean.type!=null">
				 type = VALUES(type),
			</if>
			<if test="bean.videoCount!=null">
				 video_count = VALUES(video_count),
			</if>
			<if test="bean.sort!=null">
				 sort = VALUES(sort),
			</if>
			<if test="bean.createTime!=null">
				 create_time = VALUES(create_time),
			</if>
			<if test="bean.updateTime!=null">
				 update_time = VALUES(update_time),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.machugit.entity.po.FavoriteFolder">
		 INSERT INTO favorite_folder(
			 folder_id,
			 user_id,
			 folder_name,
			 description,
			 cover_image,
			 type,
			 video_count,
			 sort,
			 create_time,
			 update_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.folderId},
				 #{item.userId},
				 #{item.folderName},
				 #{item.description},
				 #{item.coverImage},
				 #{item.type},
				 #{item.videoCount},
				 #{item.sort},
				 #{item.createTime},
				 #{item.updateTime}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.machugit.entity.po.FavoriteFolder">
		 INSERT INTO favorite_folder(
			 folder_id,
			 user_id,
			 folder_name,
			 description,
			 cover_image,
			 type,
			 video_count,
			 sort,
			 create_time,
			 update_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.folderId},
				 #{item.userId},
				 #{item.folderName},
				 #{item.description},
				 #{item.coverImage},
				 #{item.type},
				 #{item.videoCount},
				 #{item.sort},
				 #{item.createTime},
				 #{item.updateTime}
			 )
		 </foreach>
			on DUPLICATE key update
			folder_id = VALUES(folder_id),
			user_id = VALUES(user_id),
			folder_name = VALUES(folder_name),
			description = VALUES(description),
			cover_image = VALUES(cover_image),
			type = VALUES(type),
			video_count = VALUES(video_count),
			sort = VALUES(sort),
			create_time = VALUES(create_time),
			update_time = VALUES(update_time)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="com.machugit.entity.query.FavoriteFolderQuery">
		 UPDATE favorite_folder f
 		 <set>
			<if test="bean.folderId != null">
				 folder_id = #{bean.folderId},
			</if>
			<if test="bean.userId != null">
				 user_id = #{bean.userId},
			</if>
			<if test="bean.folderName != null">
				 folder_name = #{bean.folderName},
			</if>
			<if test="bean.description != null">
				 description = #{bean.description},
			</if>
			<if test="bean.coverImage != null">
				 cover_image = #{bean.coverImage},
			</if>
			<if test="bean.type != null">
				 type = #{bean.type},
			</if>
			<if test="bean.videoCount != null">
				 video_count = #{bean.videoCount},
			</if>
			<if test="bean.sort != null">
				 sort = #{bean.sort},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
			<if test="bean.updateTime != null">
				 update_time = #{bean.updateTime},
			</if>
 		 </set>
 		 <include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		 delete f from favorite_folder f
 		 <include refid="query_condition" />
	</delete>

	<!-- 根据FolderId修改-->
	<update id="updateByFolderId" parameterType="com.machugit.entity.po.FavoriteFolder">
		 UPDATE favorite_folder
 		 <set>
			<if test="bean.userId != null">
				 user_id = #{bean.userId},
			</if>
			<if test="bean.folderName != null">
				 folder_name = #{bean.folderName},
			</if>
			<if test="bean.description != null">
				 description = #{bean.description},
			</if>
			<if test="bean.coverImage != null">
				 cover_image = #{bean.coverImage},
			</if>
			<if test="bean.type != null">
				 type = #{bean.type},
			</if>
			<if test="bean.videoCount != null">
				 video_count = #{bean.videoCount},
			</if>
			<if test="bean.sort != null">
				 sort = #{bean.sort},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
			<if test="bean.updateTime != null">
				 update_time = #{bean.updateTime},
			</if>
 		 </set>
 		 where folder_id=#{folderId}
	</update>

	<!-- 根据FolderId删除-->
	<delete id="deleteByFolderId">
		delete from favorite_folder where folder_id=#{folderId}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectByFolderId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from favorite_folder f where f.folder_id=#{folderId}
	</select>

	<!-- 根据UserId修改-->
	<update id="updateByUserId" parameterType="com.machugit.entity.po.FavoriteFolder">
		 UPDATE favorite_folder
 		 <set>
			<if test="bean.folderId != null">
				 folder_id = #{bean.folderId},
			</if>
			<if test="bean.folderName != null">
				 folder_name = #{bean.folderName},
			</if>
			<if test="bean.description != null">
				 description = #{bean.description},
			</if>
			<if test="bean.coverImage != null">
				 cover_image = #{bean.coverImage},
			</if>
			<if test="bean.type != null">
				 type = #{bean.type},
			</if>
			<if test="bean.videoCount != null">
				 video_count = #{bean.videoCount},
			</if>
			<if test="bean.sort != null">
				 sort = #{bean.sort},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
			<if test="bean.updateTime != null">
				 update_time = #{bean.updateTime},
			</if>
 		 </set>
 		 where user_id=#{userId}
	</update>

	<!-- 根据UserId删除-->
	<delete id="deleteByUserId">
		delete from favorite_folder where user_id=#{userId}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectByUserId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from favorite_folder f where f.user_id=#{userId}
	</select>

</mapper>
