<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.machugit.mappers.MessageInfoMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.machugit.entity.po.MessageInfo">
		<!--消息id-->
		<result column="message_id" property="messageId"  />
		<!--用户id-->
		<result column="user_id" property="userId"  />
		<!--消息类型-->
		<result column="message_type" property="messageType"  />
		<!--消息内容-->
		<result column="content" property="content"  />
		<!--阅读状态-->
		<result column="read_status" property="readStatus"  />
		<!--创建时间-->
		<result column="create_time" property="createTime"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 m.message_id,m.user_id,m.message_type,m.content,m.read_status,
		 m.create_time
	</sql>

	<sql id="base_condition_filed">
			<if test="query.messageId != null">
				 and  m.message_id = #{query.messageId}
			</if>
			<if test="query.userId != null and query.userId!=''">
				 and  m.user_id = #{query.userId}
			</if>
			<if test="query.messageType != null">
				 and  m.message_type = #{query.messageType}
			</if>
			<if test="query.content != null and query.content!=''">
				 and  m.content = #{query.content}
			</if>
			<if test="query.readStatus != null">
				 and  m.read_status = #{query.readStatus}
			</if>
			<if test="query.createTime != null and query.createTime!=''">
				 <![CDATA[ and  m.create_time=str_to_date(#{query.createTime}, '%Y-%m-%d') ]]>
			</if>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
	 <where>
			<include refid="base_condition_filed" />
			<if test="query.contentFuzzy!= null  and query.contentFuzzy!=''">
				 and  m.content like concat('%', #{query.contentFuzzy}, '%')
			</if>
			<if test="query.createTimeStart!= null and query.createTimeStart!=''">
				 <![CDATA[ and  m.create_time>=str_to_date(#{query.createTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.createTimeEnd!= null and query.createTimeEnd!=''">
				 <![CDATA[ and  m.create_time< date_sub(str_to_date(#{query.createTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
	 </where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM message_info m <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM message_info m <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.machugit.entity.po.MessageInfo">
		 INSERT INTO message_info
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.messageId != null">
				 message_id,
			</if>
			<if test="bean.userId != null">
				 user_id,
			</if>
			<if test="bean.messageType != null">
				 message_type,
			</if>
			<if test="bean.content != null">
				 content,
			</if>
			<if test="bean.readStatus != null">
				 read_status,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.messageId!=null">
				 #{bean.messageId},
			</if>
			<if test="bean.userId!=null">
				 #{bean.userId},
			</if>
			<if test="bean.messageType!=null">
				 #{bean.messageType},
			</if>
			<if test="bean.content!=null">
				 #{bean.content},
			</if>
			<if test="bean.readStatus!=null">
				 #{bean.readStatus},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.machugit.entity.po.MessageInfo">
		 INSERT INTO message_info
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.messageId != null">
				 message_id,
			</if>
			<if test="bean.userId != null">
				 user_id,
			</if>
			<if test="bean.messageType != null">
				 message_type,
			</if>
			<if test="bean.content != null">
				 content,
			</if>
			<if test="bean.readStatus != null">
				 read_status,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.messageId!=null">
				 #{bean.messageId},
			</if>
			<if test="bean.userId!=null">
				 #{bean.userId},
			</if>
			<if test="bean.messageType!=null">
				 #{bean.messageType},
			</if>
			<if test="bean.content!=null">
				 #{bean.content},
			</if>
			<if test="bean.readStatus!=null">
				 #{bean.readStatus},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
		 </trim>
		 on DUPLICATE key update
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.messageId!=null">
				 message_id = VALUES(message_id),
			</if>
			<if test="bean.userId!=null">
				 user_id = VALUES(user_id),
			</if>
			<if test="bean.messageType!=null">
				 message_type = VALUES(message_type),
			</if>
			<if test="bean.content!=null">
				 content = VALUES(content),
			</if>
			<if test="bean.readStatus!=null">
				 read_status = VALUES(read_status),
			</if>
			<if test="bean.createTime!=null">
				 create_time = VALUES(create_time),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.machugit.entity.po.MessageInfo">
		 INSERT INTO message_info(
			 message_id,
			 user_id,
			 message_type,
			 content,
			 read_status,
			 create_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.messageId},
				 #{item.userId},
				 #{item.messageType},
				 #{item.content},
				 #{item.readStatus},
				 #{item.createTime}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.machugit.entity.po.MessageInfo">
		 INSERT INTO message_info(
			 message_id,
			 user_id,
			 message_type,
			 content,
			 read_status,
			 create_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.messageId},
				 #{item.userId},
				 #{item.messageType},
				 #{item.content},
				 #{item.readStatus},
				 #{item.createTime}
			 )
		 </foreach>
			on DUPLICATE key update
			message_id = VALUES(message_id),
			user_id = VALUES(user_id),
			message_type = VALUES(message_type),
			content = VALUES(content),
			read_status = VALUES(read_status),
			create_time = VALUES(create_time)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="com.machugit.entity.query.MessageInfoQuery">
		 UPDATE message_info m
 		 <set>
			<if test="bean.messageId != null">
				 message_id = #{bean.messageId},
			</if>
			<if test="bean.userId != null">
				 user_id = #{bean.userId},
			</if>
			<if test="bean.messageType != null">
				 message_type = #{bean.messageType},
			</if>
			<if test="bean.content != null">
				 content = #{bean.content},
			</if>
			<if test="bean.readStatus != null">
				 read_status = #{bean.readStatus},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
 		 </set>
 		 <include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		 delete m from message_info m
 		 <include refid="query_condition" />
	</delete>

	<!-- 根据MessageId修改-->
	<update id="updateByMessageId" parameterType="com.machugit.entity.po.MessageInfo">
		 UPDATE message_info
 		 <set>
			<if test="bean.userId != null">
				 user_id = #{bean.userId},
			</if>
			<if test="bean.messageType != null">
				 message_type = #{bean.messageType},
			</if>
			<if test="bean.content != null">
				 content = #{bean.content},
			</if>
			<if test="bean.readStatus != null">
				 read_status = #{bean.readStatus},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
 		 </set>
 		 where message_id=#{messageId}
	</update>

	<!-- 根据MessageId删除-->
	<delete id="deleteByMessageId">
		delete from message_info where message_id=#{messageId}
	</delete>

	<!-- 根据MessageId获取对象-->
	<select id="selectByMessageId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from message_info m where message_id=#{messageId}
	</select>

	<!-- 根据UserId获取对象-->
	<select id="selectByUserId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from message_info m where user_id=#{userId}
	</select>

</mapper>
