<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.machugit.mappers.ReportInfoMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.machugit.entity.po.ReportInfo">
		<!--举报id-->
		<result column="report_id" property="reportId"  />
		<!--举报人id-->
		<result column="reporter_id" property="reporterId"  />
		<!--举报目标类型-->
		<result column="target_type" property="targetType"  />
		<!--举报目标id-->
		<result column="target_id" property="targetId"  />
		<!--举报原因类型-->
		<result column="reason_type" property="reasonType"  />
		<!--举报原因描述-->
		<result column="reason_desc" property="reasonDesc"  />
		<!--举证图片-->
		<result column="proof_images" property="proofImages"  />
		<!--处理状态-->
		<result column="status" property="status"  />
		<!--处理人id-->
		<result column="handler_id" property="handlerId"  />
		<!--处理结果-->
		<result column="handle_result" property="handleResult"  />
		<!--创建时间-->
		<result column="create_time" property="createTime"  />
		<!--更新时间-->
		<result column="update_time" property="updateTime"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 r.report_id,r.reporter_id,r.target_type,r.target_id,r.reason_type,
		 r.reason_desc,r.proof_images,r.status,r.handler_id,r.handle_result,
		 r.create_time,r.update_time
	</sql>

	<sql id="base_condition_filed">
			<if test="query.reportId != null">
				 and  r.report_id = #{query.reportId}
			</if>
			<if test="query.reporterId != null and query.reporterId!=''">
				 and  r.reporter_id = #{query.reporterId}
			</if>
			<if test="query.targetType != null">
				 and  r.target_type = #{query.targetType}
			</if>
			<if test="query.targetId != null and query.targetId!=''">
				 and  r.target_id = #{query.targetId}
			</if>
			<if test="query.reasonType != null">
				 and  r.reason_type = #{query.reasonType}
			</if>
			<if test="query.reasonDesc != null and query.reasonDesc!=''">
				 and  r.reason_desc = #{query.reasonDesc}
			</if>
			<if test="query.proofImages != null and query.proofImages!=''">
				 and  r.proof_images = #{query.proofImages}
			</if>
			<if test="query.status != null">
				 and  r.status = #{query.status}
			</if>
			<if test="query.handlerId != null and query.handlerId!=''">
				 and  r.handler_id = #{query.handlerId}
			</if>
			<if test="query.handleResult != null and query.handleResult!=''">
				 and  r.handle_result = #{query.handleResult}
			</if>
			<if test="query.createTime != null and query.createTime!=''">
				 <![CDATA[ and  r.create_time=str_to_date(#{query.createTime}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.updateTime != null and query.updateTime!=''">
				 <![CDATA[ and  r.update_time=str_to_date(#{query.updateTime}, '%Y-%m-%d') ]]>
			</if>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
	 <where>
			<include refid="base_condition_filed" />
			<if test="query.reasonDescFuzzy!= null  and query.reasonDescFuzzy!=''">
				 and  r.reason_desc like concat('%', #{query.reasonDescFuzzy}, '%')
			</if>
			<if test="query.handleResultFuzzy!= null  and query.handleResultFuzzy!=''">
				 and  r.handle_result like concat('%', #{query.handleResultFuzzy}, '%')
			</if>
			<if test="query.createTimeStart!= null and query.createTimeStart!=''">
				 <![CDATA[ and  r.create_time>=str_to_date(#{query.createTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.createTimeEnd!= null and query.createTimeEnd!=''">
				 <![CDATA[ and  r.create_time< date_sub(str_to_date(#{query.createTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
			<if test="query.updateTimeStart!= null and query.updateTimeStart!=''">
				 <![CDATA[ and  r.update_time>=str_to_date(#{query.updateTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.updateTimeEnd!= null and query.updateTimeEnd!=''">
				 <![CDATA[ and  r.update_time< date_sub(str_to_date(#{query.updateTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
	 </where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM report_info r <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM report_info r <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.machugit.entity.po.ReportInfo">
		 INSERT INTO report_info
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.reportId != null">
				 report_id,
			</if>
			<if test="bean.reporterId != null">
				 reporter_id,
			</if>
			<if test="bean.targetType != null">
				 target_type,
			</if>
			<if test="bean.targetId != null">
				 target_id,
			</if>
			<if test="bean.reasonType != null">
				 reason_type,
			</if>
			<if test="bean.reasonDesc != null">
				 reason_desc,
			</if>
			<if test="bean.proofImages != null">
				 proof_images,
			</if>
			<if test="bean.status != null">
				 status,
			</if>
			<if test="bean.handlerId != null">
				 handler_id,
			</if>
			<if test="bean.handleResult != null">
				 handle_result,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
			<if test="bean.updateTime != null">
				 update_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.reportId!=null">
				 #{bean.reportId},
			</if>
			<if test="bean.reporterId!=null">
				 #{bean.reporterId},
			</if>
			<if test="bean.targetType!=null">
				 #{bean.targetType},
			</if>
			<if test="bean.targetId!=null">
				 #{bean.targetId},
			</if>
			<if test="bean.reasonType!=null">
				 #{bean.reasonType},
			</if>
			<if test="bean.reasonDesc!=null">
				 #{bean.reasonDesc},
			</if>
			<if test="bean.proofImages!=null">
				 #{bean.proofImages},
			</if>
			<if test="bean.status!=null">
				 #{bean.status},
			</if>
			<if test="bean.handlerId!=null">
				 #{bean.handlerId},
			</if>
			<if test="bean.handleResult!=null">
				 #{bean.handleResult},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
			<if test="bean.updateTime!=null">
				 #{bean.updateTime},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.machugit.entity.po.ReportInfo">
		 INSERT INTO report_info
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.reportId != null">
				 report_id,
			</if>
			<if test="bean.reporterId != null">
				 reporter_id,
			</if>
			<if test="bean.targetType != null">
				 target_type,
			</if>
			<if test="bean.targetId != null">
				 target_id,
			</if>
			<if test="bean.reasonType != null">
				 reason_type,
			</if>
			<if test="bean.reasonDesc != null">
				 reason_desc,
			</if>
			<if test="bean.proofImages != null">
				 proof_images,
			</if>
			<if test="bean.status != null">
				 status,
			</if>
			<if test="bean.handlerId != null">
				 handler_id,
			</if>
			<if test="bean.handleResult != null">
				 handle_result,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
			<if test="bean.updateTime != null">
				 update_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.reportId!=null">
				 #{bean.reportId},
			</if>
			<if test="bean.reporterId!=null">
				 #{bean.reporterId},
			</if>
			<if test="bean.targetType!=null">
				 #{bean.targetType},
			</if>
			<if test="bean.targetId!=null">
				 #{bean.targetId},
			</if>
			<if test="bean.reasonType!=null">
				 #{bean.reasonType},
			</if>
			<if test="bean.reasonDesc!=null">
				 #{bean.reasonDesc},
			</if>
			<if test="bean.proofImages!=null">
				 #{bean.proofImages},
			</if>
			<if test="bean.status!=null">
				 #{bean.status},
			</if>
			<if test="bean.handlerId!=null">
				 #{bean.handlerId},
			</if>
			<if test="bean.handleResult!=null">
				 #{bean.handleResult},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
			<if test="bean.updateTime!=null">
				 #{bean.updateTime},
			</if>
		 </trim>
		 on DUPLICATE key update
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.reportId!=null">
				 report_id = VALUES(report_id),
			</if>
			<if test="bean.reporterId!=null">
				 reporter_id = VALUES(reporter_id),
			</if>
			<if test="bean.targetType!=null">
				 target_type = VALUES(target_type),
			</if>
			<if test="bean.targetId!=null">
				 target_id = VALUES(target_id),
			</if>
			<if test="bean.reasonType!=null">
				 reason_type = VALUES(reason_type),
			</if>
			<if test="bean.reasonDesc!=null">
				 reason_desc = VALUES(reason_desc),
			</if>
			<if test="bean.proofImages!=null">
				 proof_images = VALUES(proof_images),
			</if>
			<if test="bean.status!=null">
				 status = VALUES(status),
			</if>
			<if test="bean.handlerId!=null">
				 handler_id = VALUES(handler_id),
			</if>
			<if test="bean.handleResult!=null">
				 handle_result = VALUES(handle_result),
			</if>
			<if test="bean.createTime!=null">
				 create_time = VALUES(create_time),
			</if>
			<if test="bean.updateTime!=null">
				 update_time = VALUES(update_time),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.machugit.entity.po.ReportInfo">
		 INSERT INTO report_info(
			 report_id,
			 reporter_id,
			 target_type,
			 target_id,
			 reason_type,
			 reason_desc,
			 proof_images,
			 status,
			 handler_id,
			 handle_result,
			 create_time,
			 update_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.reportId},
				 #{item.reporterId},
				 #{item.targetType},
				 #{item.targetId},
				 #{item.reasonType},
				 #{item.reasonDesc},
				 #{item.proofImages},
				 #{item.status},
				 #{item.handlerId},
				 #{item.handleResult},
				 #{item.createTime},
				 #{item.updateTime}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.machugit.entity.po.ReportInfo">
		 INSERT INTO report_info(
			 report_id,
			 reporter_id,
			 target_type,
			 target_id,
			 reason_type,
			 reason_desc,
			 proof_images,
			 status,
			 handler_id,
			 handle_result,
			 create_time,
			 update_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.reportId},
				 #{item.reporterId},
				 #{item.targetType},
				 #{item.targetId},
				 #{item.reasonType},
				 #{item.reasonDesc},
				 #{item.proofImages},
				 #{item.status},
				 #{item.handlerId},
				 #{item.handleResult},
				 #{item.createTime},
				 #{item.updateTime}
			 )
		 </foreach>
			on DUPLICATE key update
			report_id = VALUES(report_id),
			reporter_id = VALUES(reporter_id),
			target_type = VALUES(target_type),
			target_id = VALUES(target_id),
			reason_type = VALUES(reason_type),
			reason_desc = VALUES(reason_desc),
			proof_images = VALUES(proof_images),
			status = VALUES(status),
			handler_id = VALUES(handler_id),
			handle_result = VALUES(handle_result),
			create_time = VALUES(create_time),
			update_time = VALUES(update_time)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="com.machugit.entity.query.ReportInfoQuery">
		 UPDATE report_info r
 		 <set>
			<if test="bean.reportId != null">
				 report_id = #{bean.reportId},
			</if>
			<if test="bean.reporterId != null">
				 reporter_id = #{bean.reporterId},
			</if>
			<if test="bean.targetType != null">
				 target_type = #{bean.targetType},
			</if>
			<if test="bean.targetId != null">
				 target_id = #{bean.targetId},
			</if>
			<if test="bean.reasonType != null">
				 reason_type = #{bean.reasonType},
			</if>
			<if test="bean.reasonDesc != null">
				 reason_desc = #{bean.reasonDesc},
			</if>
			<if test="bean.proofImages != null">
				 proof_images = #{bean.proofImages},
			</if>
			<if test="bean.status != null">
				 status = #{bean.status},
			</if>
			<if test="bean.handlerId != null">
				 handler_id = #{bean.handlerId},
			</if>
			<if test="bean.handleResult != null">
				 handle_result = #{bean.handleResult},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
			<if test="bean.updateTime != null">
				 update_time = #{bean.updateTime},
			</if>
 		 </set>
 		 <include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		 delete r from report_info r
 		 <include refid="query_condition" />
	</delete>

	<!-- 根据ReportId修改-->
	<update id="updateByReportId" parameterType="com.machugit.entity.po.ReportInfo">
		 UPDATE report_info
 		 <set>
			<if test="bean.reporterId != null">
				 reporter_id = #{bean.reporterId},
			</if>
			<if test="bean.targetType != null">
				 target_type = #{bean.targetType},
			</if>
			<if test="bean.targetId != null">
				 target_id = #{bean.targetId},
			</if>
			<if test="bean.reasonType != null">
				 reason_type = #{bean.reasonType},
			</if>
			<if test="bean.reasonDesc != null">
				 reason_desc = #{bean.reasonDesc},
			</if>
			<if test="bean.proofImages != null">
				 proof_images = #{bean.proofImages},
			</if>
			<if test="bean.status != null">
				 status = #{bean.status},
			</if>
			<if test="bean.handlerId != null">
				 handler_id = #{bean.handlerId},
			</if>
			<if test="bean.handleResult != null">
				 handle_result = #{bean.handleResult},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
			<if test="bean.updateTime != null">
				 update_time = #{bean.updateTime},
			</if>
 		 </set>
 		 where report_id=#{reportId}
	</update>

	<!-- 根据ReportId删除-->
	<delete id="deleteByReportId">
		delete from report_info where report_id=#{reportId}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectByReportId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from report_info r where report_id=#{reportId}
	</select>

	<!-- 根据ReporterId获取对象-->
	<select id="selectByReporterId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from report_info r where reporter_id=#{reporterId}
	</select>

</mapper>
