<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.machugit.mappers.SysThemeMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.machugit.entity.po.SysTheme">
		<!--主题id-->
		<id column="theme_id" property="themeId"  />
		<!--主题名称-->
		<result column="theme_name" property="themeName"  />
		<!--主题渐变色-->
		<result column="gradient" property="gradient"  />
		<!--主色调-->
		<result column="primary_color" property="primaryColor"  />
		<!--排序-->
		<result column="sort" property="sort"  />
		<!--状态-->
		<result column="status" property="status"  />
		<!--创建时间-->
		<result column="create_time" property="createTime"  />
	</resultMap>


	<!-- 通用查询结果列 -->
	<sql id="base_column_list">
		 t.theme_id,t.theme_name,t.gradient,
		 t.primary_color,t.sort,t.status,t.create_time
	</sql>

	<sql id="base_condition_filed">
			<if test="query.themeId != null">
				 and  t.theme_id = #{query.themeId}
			</if>
			<if test="query.themeName != null and query.themeName!=''">
				 and  t.theme_name = #{query.themeName}
			</if>
			<if test="query.status != null">
				 and  t.status = #{query.status}
			</if>
			<if test="query.sort != null">
				 and  t.sort = #{query.sort}
			</if>
	</sql>

	<!-- 通用查询条件列 -->
	<sql id="query_condition">
	 <where>
			<include refid="base_condition_filed" />
			<if test="query.themeNameFuzzy!= null  and query.themeNameFuzzy!=''">
				 and  t.theme_name like concat('%', #{query.themeNameFuzzy}, '%')
			</if>
	 </where>
	</sql>

	<!-- 查询集合 -->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM sys_theme t <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量 -->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM sys_theme t <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段） -->
	<insert id="insert" parameterType="com.machugit.entity.po.SysTheme">
		 INSERT INTO sys_theme
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.themeName != null">
				 theme_name,
			</if>
			<if test="bean.gradient != null">
				 gradient,
			</if>
			<if test="bean.primaryColor != null">
				 primary_color,
			</if>
			<if test="bean.sort != null">
				 sort,
			</if>
			<if test="bean.status != null">
				 status,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.themeName!=null">
				 #{bean.themeName},
			</if>
			<if test="bean.gradient!=null">
				 #{bean.gradient},
			</if>
			<if test="bean.primaryColor!=null">
				 #{bean.primaryColor},
			</if>
			<if test="bean.sort!=null">
				 #{bean.sort},
			</if>
			<if test="bean.status!=null">
				 #{bean.status},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段） -->
	<insert id="insertOrUpdate" parameterType="com.machugit.entity.po.SysTheme">
		 INSERT INTO sys_theme
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.themeId != null">
				 theme_id,
			</if>
			<if test="bean.themeName != null">
				 theme_name,
			</if>
			<if test="bean.gradient != null">
				 gradient,
			</if>
			<if test="bean.primaryColor != null">
				 primary_color,
			</if>
			<if test="bean.sort != null">
				 sort,
			</if>
			<if test="bean.status != null">
				 status,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.themeId!=null">
				 #{bean.themeId},
			</if>
			<if test="bean.themeName!=null">
				 #{bean.themeName},
			</if>
			<if test="bean.gradient!=null">
				 #{bean.gradient},
			</if>
			<if test="bean.primaryColor!=null">
				 #{bean.primaryColor},
			</if>
			<if test="bean.sort!=null">
				 #{bean.sort},
			</if>
			<if test="bean.status!=null">
				 #{bean.status},
			</if>
		 </trim>
		 on DUPLICATE key update
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.themeName!=null">
				 theme_name = VALUES(theme_name),
			</if>
			<if test="bean.gradient!=null">
				 gradient = VALUES(gradient),
			</if>
			<if test="bean.primaryColor!=null">
				 primary_color = VALUES(primary_color),
			</if>
			<if test="bean.sort!=null">
				 sort = VALUES(sort),
			</if>
			<if test="bean.status!=null">
				 status = VALUES(status),
			</if>
		 </trim>
	</insert>

	<!-- 批量添加 -->
	<insert id="insertBatch" parameterType="com.machugit.entity.po.SysTheme">
		 INSERT INTO sys_theme(
			 theme_name,
			 gradient,
			 primary_color,
			 sort,
			 status
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.themeName},
				 #{item.gradient},
				 #{item.primaryColor},
				 #{item.sort},
				 #{item.status}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 -->
	<insert id="insertOrUpdateBatch" parameterType="com.machugit.entity.po.SysTheme">
		 INSERT INTO sys_theme(
			 theme_id,
			 theme_name,
			 gradient,
			 primary_color,
			 sort,
			 status
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.themeId},
				 #{item.themeName},
				 #{item.gradient},
				 #{item.primaryColor},
				 #{item.sort},
				 #{item.status}
			 )
		 </foreach>
			on DUPLICATE key update
			theme_name = VALUES(theme_name),
			gradient = VALUES(gradient),
			primary_color = VALUES(primary_color),
			sort = VALUES(sort),
			status = VALUES(status)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="com.machugit.entity.query.SysThemeQuery">
		 UPDATE sys_theme t
 		 <set>
			<if test="bean.themeName != null">
				 theme_name = #{bean.themeName},
			</if>
			<if test="bean.gradient != null">
				 gradient = #{bean.gradient},
			</if>
			<if test="bean.primaryColor != null">
				 primary_color = #{bean.primaryColor},
			</if>
			<if test="bean.sort != null">
				 sort = #{bean.sort},
			</if>
			<if test="bean.status != null">
				 status = #{bean.status},
			</if>
 		 </set>
 		 <include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		 delete t from sys_theme t
 		 <include refid="query_condition" />
	</delete>

	<!-- 根据Id修改 -->
	<update id="updateById" parameterType="com.machugit.entity.po.SysTheme">
		 UPDATE sys_theme
 		 <set>
			<if test="bean.themeName != null">
				 theme_name = #{bean.themeName},
			</if>
			<if test="bean.gradient != null">
				 gradient = #{bean.gradient},
			</if>
			<if test="bean.primaryColor != null">
				 primary_color = #{bean.primaryColor},
			</if>
			<if test="bean.sort != null">
				 sort = #{bean.sort},
			</if>
			<if test="bean.status != null">
				 status = #{bean.status},
			</if>
 		 </set>
 		 where theme_id=#{id}
	</update>

	<!-- 根据Id删除 -->
	<delete id="deleteById">
		delete from sys_theme where theme_id=#{id}
	</delete>

	<!-- 根据PrimaryKey获取对象 -->
	<select id="selectById" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from sys_theme t where theme_id=#{id}
	</select>

</mapper>
