<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.machugit.mappers.VideoInfoFileMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.machugit.entity.po.VideoInfoFile">
		<!--文件id-->
		<result column="file_id" property="fileId"  />
		<!--上传id-->
		<result column="upload_id" property="uploadId"  />
		<!--用户id-->
		<result column="user_id" property="userId"  />
		<!--视频id-->
		<result column="video_id" property="videoId"  />
		<!--文件名-->
		<result column="file_name" property="fileName"  />
		<!--文件路径-->
		<result column="file_path" property="filePath"  />
		<!--文件大小-->
		<result column="file_size" property="fileSize"  />
		<!--时长（秒）-->
		<result column="duration" property="duration"  />
		<!--状态（0：处理中 1：成功 2：失败）-->
		<result column="status" property="status"  />
		<!--创建时间-->
		<result column="create_time" property="createTime"  />
		<!--更新时间-->
		<result column="update_time" property="updateTime"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 f.file_id,f.upload_id,f.user_id,f.video_id,f.file_name,
		 f.file_path,f.file_size,f.duration,f.status,
		 f.create_time,f.update_time
	</sql>

	<sql id="base_condition_filed">
			<if test="query.fileId != null and query.fileId!=''">
				 and  f.file_id = #{query.fileId}
			</if>
			<if test="query.uploadId != null and query.uploadId!=''">
				 and  f.upload_id = #{query.uploadId}
			</if>
			<if test="query.userId != null and query.userId!=''">
				 and  f.user_id = #{query.userId}
			</if>
			<if test="query.videoId != null and query.videoId!=''">
				 and  f.video_id = #{query.videoId}
			</if>
			<if test="query.fileName != null and query.fileName!=''">
				 and  f.file_name = #{query.fileName}
			</if>
			<if test="query.filePath != null and query.filePath!=''">
				 and  f.file_path = #{query.filePath}
			</if>
			<if test="query.fileSize != null">
				 and  f.file_size = #{query.fileSize}
			</if>
			<if test="query.duration != null">
				 and  f.duration = #{query.duration}
			</if>
			<if test="query.status != null">
				 and  f.status = #{query.status}
			</if>
			<if test="query.createTime != null and query.createTime!=''">
				 <![CDATA[ and  f.create_time>=str_to_date(#{query.createTime}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.updateTime != null and query.updateTime!=''">
				 <![CDATA[ and  f.update_time>=str_to_date(#{query.updateTime}, '%Y-%m-%d') ]]>
			</if>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
	 <where>
			<include refid="base_condition_filed" />
			<if test="query.fileNameFuzzy!= null  and query.fileNameFuzzy!=''">
				 and  f.file_name like concat('%', #{query.fileNameFuzzy}, '%')
			</if>
			<if test="query.filePathFuzzy!= null  and query.filePathFuzzy!=''">
				 and  f.file_path like concat('%', #{query.filePathFuzzy}, '%')
			</if>
			<if test="query.createTimeStart!= null and query.createTimeStart!=''">
				 <![CDATA[ and  f.create_time>=str_to_date(#{query.createTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.createTimeEnd!= null and query.createTimeEnd!=''">
				 <![CDATA[ and  f.create_time< date_sub(str_to_date(#{query.createTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
			<if test="query.updateTimeStart!= null and query.updateTimeStart!=''">
				 <![CDATA[ and  f.update_time>=str_to_date(#{query.updateTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.updateTimeEnd!= null and query.updateTimeEnd!=''">
				 <![CDATA[ and  f.update_time< date_sub(str_to_date(#{query.updateTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
	 </where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM video_info_file f <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM video_info_file f <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.machugit.entity.po.VideoInfoFile">
		 INSERT INTO video_info_file
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.fileId != null">
				 file_id,
			</if>
			<if test="bean.uploadId != null">
				 upload_id,
			</if>
			<if test="bean.userId != null">
				 user_id,
			</if>
			<if test="bean.videoId != null">
				 video_id,
			</if>
			<if test="bean.fileName != null">
				 file_name,
			</if>
			<if test="bean.filePath != null">
				 file_path,
			</if>
			<if test="bean.fileSize != null">
				 file_size,
			</if>
			<if test="bean.duration != null">
				 duration,
			</if>
			<if test="bean.status != null">
				 status,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
			<if test="bean.updateTime != null">
				 update_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.fileId!=null">
				 #{bean.fileId},
			</if>
			<if test="bean.uploadId!=null">
				 #{bean.uploadId},
			</if>
			<if test="bean.userId!=null">
				 #{bean.userId},
			</if>
			<if test="bean.videoId!=null">
				 #{bean.videoId},
			</if>
			<if test="bean.fileName!=null">
				 #{bean.fileName},
			</if>
			<if test="bean.filePath!=null">
				 #{bean.filePath},
			</if>
			<if test="bean.fileSize!=null">
				 #{bean.fileSize},
			</if>
			<if test="bean.duration!=null">
				 #{bean.duration},
			</if>
			<if test="bean.status!=null">
				 #{bean.status},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
			<if test="bean.updateTime!=null">
				 #{bean.updateTime},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.machugit.entity.po.VideoInfoFile">
		 INSERT INTO video_info_file
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.fileId != null">
				 file_id,
			</if>
			<if test="bean.uploadId != null">
				 upload_id,
			</if>
			<if test="bean.userId != null">
				 user_id,
			</if>
			<if test="bean.videoId != null">
				 video_id,
			</if>
			<if test="bean.fileName != null">
				 file_name,
			</if>
			<if test="bean.filePath != null">
				 file_path,
			</if>
			<if test="bean.fileSize != null">
				 file_size,
			</if>
			<if test="bean.duration != null">
				 duration,
			</if>
			<if test="bean.status != null">
				 status,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
			<if test="bean.updateTime != null">
				 update_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.fileId!=null">
				 #{bean.fileId},
			</if>
			<if test="bean.uploadId!=null">
				 #{bean.uploadId},
			</if>
			<if test="bean.userId!=null">
				 #{bean.userId},
			</if>
			<if test="bean.videoId!=null">
				 #{bean.videoId},
			</if>
			<if test="bean.fileName!=null">
				 #{bean.fileName},
			</if>
			<if test="bean.filePath!=null">
				 #{bean.filePath},
			</if>
			<if test="bean.fileSize!=null">
				 #{bean.fileSize},
			</if>
			<if test="bean.duration!=null">
				 #{bean.duration},
			</if>
			<if test="bean.status!=null">
				 #{bean.status},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
			<if test="bean.updateTime!=null">
				 #{bean.updateTime},
			</if>
		 </trim>
		 on DUPLICATE key update
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.fileId!=null">
				 file_id = VALUES(file_id),
			</if>
			<if test="bean.uploadId!=null">
				 upload_id = VALUES(upload_id),
			</if>
			<if test="bean.userId!=null">
				 user_id = VALUES(user_id),
			</if>
			<if test="bean.videoId!=null">
				 video_id = VALUES(video_id),
			</if>
			<if test="bean.fileName!=null">
				 file_name = VALUES(file_name),
			</if>
			<if test="bean.filePath!=null">
				 file_path = VALUES(file_path),
			</if>
			<if test="bean.fileSize!=null">
				 file_size = VALUES(file_size),
			</if>
			<if test="bean.duration!=null">
				 duration = VALUES(duration),
			</if>
			<if test="bean.status!=null">
				 status = VALUES(status),
			</if>
			<if test="bean.createTime!=null">
				 create_time = VALUES(create_time),
			</if>
			<if test="bean.updateTime!=null">
				 update_time = VALUES(update_time),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.machugit.entity.po.VideoInfoFile">
		 INSERT INTO video_info_file(
			 file_id,
			 upload_id,
			 user_id,
			 video_id,
			 file_name,
			 file_path,
			 file_size,
			 duration,
			 status,
			 create_time,
			 update_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.fileId},
				 #{item.uploadId},
				 #{item.userId},
				 #{item.videoId},
				 #{item.fileName},
				 #{item.filePath},
				 #{item.fileSize},
				 #{item.duration},
				 #{item.status},
				 #{item.createTime},
				 #{item.updateTime}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.machugit.entity.po.VideoInfoFile">
		 INSERT INTO video_info_file(
			 file_id,
			 upload_id,
			 user_id,
			 video_id,
			 file_name,
			 file_path,
			 file_size,
			 duration,
			 status,
			 create_time,
			 update_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.fileId},
				 #{item.uploadId},
				 #{item.userId},
				 #{item.videoId},
				 #{item.fileName},
				 #{item.filePath},
				 #{item.fileSize},
				 #{item.duration},
				 #{item.status},
				 #{item.createTime},
				 #{item.updateTime}
			 )
		 </foreach>
			on DUPLICATE key update
			file_id = VALUES(file_id),
			upload_id = VALUES(upload_id),
			user_id = VALUES(user_id),
			video_id = VALUES(video_id),
			file_name = VALUES(file_name),
			file_path = VALUES(file_path),
			file_size = VALUES(file_size),
			duration = VALUES(duration),
			status = VALUES(status),
			create_time = VALUES(create_time),
			update_time = VALUES(update_time)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="com.machugit.entity.query.VideoInfoFileQuery">
		 UPDATE video_info_file f
 		 <set>
			<if test="bean.fileId != null">
				 file_id = #{bean.fileId},
			</if>
			<if test="bean.uploadId != null">
				 upload_id = #{bean.uploadId},
			</if>
			<if test="bean.userId != null">
				 user_id = #{bean.userId},
			</if>
			<if test="bean.videoId != null">
				 video_id = #{bean.videoId},
			</if>
			<if test="bean.fileName != null">
				 file_name = #{bean.fileName},
			</if>
			<if test="bean.filePath != null">
				 file_path = #{bean.filePath},
			</if>
			<if test="bean.fileSize != null">
				 file_size = #{bean.fileSize},
			</if>
			<if test="bean.duration != null">
				 duration = #{bean.duration},
			</if>
			<if test="bean.status != null">
				 status = #{bean.status},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
			<if test="bean.updateTime != null">
				 update_time = #{bean.updateTime},
			</if>
 		 </set>
 		 <include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		 delete f from video_info_file f
 		 <include refid="query_condition" />
	</delete>

	<!-- 根据FileId修改-->
	<update id="updateByFileId" parameterType="com.machugit.entity.po.VideoInfoFile">
		 UPDATE video_info_file
 		 <set>
			<if test="bean.uploadId != null">
				 upload_id = #{bean.uploadId},
			</if>
			<if test="bean.userId != null">
				 user_id = #{bean.userId},
			</if>
			<if test="bean.videoId != null">
				 video_id = #{bean.videoId},
			</if>
			<if test="bean.fileName != null">
				 file_name = #{bean.fileName},
			</if>
			<if test="bean.filePath != null">
				 file_path = #{bean.filePath},
			</if>
			<if test="bean.fileSize != null">
				 file_size = #{bean.fileSize},
			</if>
			<if test="bean.duration != null">
				 duration = #{bean.duration},
			</if>
			<if test="bean.status != null">
				 status = #{bean.status},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
			<if test="bean.updateTime != null">
				 update_time = #{bean.updateTime},
			</if>
 		 </set>
 		 where file_id=#{fileId}
	</update>

	<!-- 根据FileId删除-->
	<delete id="deleteByFileId">
		delete from video_info_file where file_id=#{fileId}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectByFileId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from video_info_file f where file_id=#{fileId}
	</select>

	<!-- 根据UploadId修改-->
	<update id="updateByUploadId" parameterType="com.machugit.entity.po.VideoInfoFile">
		 UPDATE video_info_file
 		 <set>
			<if test="bean.fileId != null">
				 file_id = #{bean.fileId},
			</if>
			<if test="bean.userId != null">
				 user_id = #{bean.userId},
			</if>
			<if test="bean.videoId != null">
				 video_id = #{bean.videoId},
			</if>
			<if test="bean.fileName != null">
				 file_name = #{bean.fileName},
			</if>
			<if test="bean.filePath != null">
				 file_path = #{bean.filePath},
			</if>
			<if test="bean.fileSize != null">
				 file_size = #{bean.fileSize},
			</if>
			<if test="bean.duration != null">
				 duration = #{bean.duration},
			</if>
			<if test="bean.status != null">
				 status = #{bean.status},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
			<if test="bean.updateTime != null">
				 update_time = #{bean.updateTime},
			</if>
 		 </set>
 		 where upload_id=#{uploadId}
	</update>

	<!-- 根据UploadId删除-->
	<delete id="deleteByUploadId">
		delete from video_info_file where upload_id=#{uploadId}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectByUploadId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from video_info_file f where upload_id=#{uploadId}
	</select>

	<!-- 根据VideoId修改-->
	<update id="updateByVideoId" parameterType="com.machugit.entity.po.VideoInfoFile">
		 UPDATE video_info_file
 		 <set>
			<if test="bean.fileId != null">
				 file_id = #{bean.fileId},
			</if>
			<if test="bean.uploadId != null">
				 upload_id = #{bean.uploadId},
			</if>
			<if test="bean.userId != null">
				 user_id = #{bean.userId},
			</if>
			<if test="bean.fileName != null">
				 file_name = #{bean.fileName},
			</if>
			<if test="bean.filePath != null">
				 file_path = #{bean.filePath},
			</if>
			<if test="bean.fileSize != null">
				 file_size = #{bean.fileSize},
			</if>
			<if test="bean.duration != null">
				 duration = #{bean.duration},
			</if>
			<if test="bean.status != null">
				 status = #{bean.status},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
			<if test="bean.updateTime != null">
				 update_time = #{bean.updateTime},
			</if>
 		 </set>
 		 where video_id=#{videoId}
	</update>

	<!-- 根据VideoId删除-->
	<delete id="deleteByVideoId">
		delete from video_info_file where video_id=#{videoId}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectByVideoId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from video_info_file f where video_id=#{videoId}
	</select>

</mapper>
